print("PRUEBA DE DERIVADAS DE ACTIVACION")

var valores = [-2.0, 0.0, 2.0]

for x in valores:
    print("x =")
    print(x)
    print("relu_deriv =")
    print(prim_relu_deriv(x))
    print("tanh_deriv =")
    print(prim_tanh_deriv(x))
    print("--------")
end